//project colors
$green-semi-dark: #00b797;
$green-light: #f2fbfa;
$grayscale-300: #dddddd;
$grayscale-500: #999999;
$grayscale-900: #333333;
$black: #000000;
$white-success: #f2fbfa;
$border-gray: #cccccc;
