@import "../../styles/variables";
.task {
  margin-bottom: 4rem;
  &_label {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 3.5rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    &_checkbox {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    &_checkmark {
      position: absolute;
      top: 2px;
      left: 0;
      height: 1.6rem;
      width: 1.6rem;
      border-radius: 4px;
      border: 1px solid $grayscale-500;
    }
    &_checkbox:checked ~ &_checkmark {
      background-color: $green-semi-dark;
      border: 1px solid $green-semi-dark;
    }
    &_checkmark::after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 1px;
      width: 5px;
      height: 9px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &_checkbox:checked ~ &_checkmark::after {
      display: block;
    }
  }
}
