@import "../../styles/variables";
.accordion_item {
  border-bottom: 1px solid $grayscale-300;
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2.5rem 0.8em 2.5rem;
    &_nameWrapper {
      display: flex;
      align-items: center;
      &_icon {
        margin-right: 2.1rem;
      }
    }
    &_iconWrapper {
      &_text {
        margin-right: 1rem;
        color: $grayscale-500;
      }
      &_hide {
        transform: rotate(180deg);
      }
    }
  }
}
